<html>
<head>
	<title></title>
	<link href="/css/home.css" rel="stylesheet">
</head>
<body>
	<div class="holder">
		<h1>Maviflix - piratex</h1>
		<form action="/user/meus-dados" method="POST">
			<h3>Nome:</h3>
			<input type="text" name="nome"></br>
			<br>
			<h3>Senha:</h3>
			<input type="text" name="senha"></br>
			<br>
			<input type="submit" id="but" name="submit" value="cadastre-se">
		</form>
	</div>
	
</body>
</html>