<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>admin</title>
	<link href="css/admin.css" rel="stylesheet">	
</head>
<body>
	<div>
		<button id="add">Adicionar</button>
		<button id="del">Remover</button>
	</div>

	
	<script src="js/funcoes.js"></script>
</body>
</html>