<html>
<head>
	<title></title>
</head>
<body>
	<main>
		<h1>Maviflix - piratex</h1>
		<form action="/" method="POST">
			Nome:<input type="text" name="nome"></br>
			Senha:<input type="text" name="senha"></br>
			<input type="submit" name="submit" value="cadastre-se">
		</form>
	</main>
	
</body>
</html>