.movie{
	height: 45vh;
	width: 15vw;
	background-color: grey;
	border: 2px solid black;
	overflow: hidden;
	transition: 0.5s;
}

.movie:hover{
	height: 50vh;
	width: 17vw;
	transition:0.5s;
}

.movie img{
	max-height: 100%;
	max-width: auto;
	transition:0.5s;
}

.movie:hover img{
	opacity: 0.5;
	transition:0.5s;
}


