.movie{
	width: 15vw;
	height: 45vh;
	overflow: hidden;
	border: 2px solid black;
	margin-left: 10px;
	float: left;
}
.movie img{
	height: 100%;
	margin: auto;
}
.movie p{
	position: absolute;
	width: 100%;
	color: white;
}